<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Github repo search">
    <title>Github repository search</title>

    <environment names="Development">
        <link href="~/css/github-repo.css" rel="stylesheet" />
        <link href="~/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <span class="github-repo-header-text">Github Repository Search </span>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/scripts/jquery.js"></script>
        <script src="~/scripts/bootstrap.js"></script>
        <script src="~/scripts/angular.js"></script>
        <script src="~/scripts/angular-ui-router.js"></script>
        <script src="~/scripts/spin.js"></script>
        <script src="~/scripts/angular-spinner.js"></script>

        <script src="~/scripts/app/repo-issues/repo-issues-ctrl.js"></script>
        <script src="~/scripts/app/repo-issues/repo-issues-service.js"></script>
        <script src="~/scripts/app/repo-issues/model/repository-issue-response.js"></script>
        <script src="~/scripts/app/repo-issues/model/repository-issue-response-item.js"></script>
        <script src="~/scripts/app/repo-issues/model/repository-issue.js"></script>
        <script src="~/scripts/app/github-ctrl.js"></script>
        <script src="~/scripts/app/repo-search/tool-tip-hover-directive.js"></script>
        <script src="~/scripts/app/repo-search/repo-search-ctrl.js"></script>
        <script src="~/scripts/app/repo-search/repo-search-service.js"></script>
        <script src="~/scripts/app/github-routes.js"></script>
        <script src="~/scripts/app/github-app.js"></script>
        <script src="~/scripts/app/repo-search/model/repository.js"></script>
        <script src="~/scripts/app/repo-search/model/repository-search-response-item.js"></script>
        <script src="~/scripts/app/repo-search/model/respository-search-response.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script defer src="/scripts/site.min.js" asp-append-version="true" ></script>
    </environment>
</body>
</html>